beautifulsoup4==4.8.0
Flask==1.1.1
gunicorn==19.10.0
html5lib==1.0.1
ipython==5.8.0
ipython-genutils==0.2.0
python-dateutil==2.8.0
python-pptx==0.6.18
selenium==3.141.0
urllib3==1.24.2
virtualenv==20.1.0

